* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body {
    width: 100%;
    height: 100vh;
    cursor: default;
}

.stroked {
    -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
}

.mouse-trailer {
    background-color:antiquewhite;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    position: fixed;
    pointer-events: none;
    font-size: 20px;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  mark {
    background:orange
  }